
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Spline+Sans+Mono&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
    
   
}
.header{
    height: 10vh;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.content{
   height: 80vh;
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Spline Sans Mono', monospace;

}
.footer{
    height: 10vh;
   
}
h4{
    font-size: xx-large;
    color: #C98686;
    font-size: 20vh;
}
#someButton{
    height: 10vh;
    width: 30vw;
    background-color: #35728e;
    border: none;
    color: rgb(255, 255, 255);
    font-size: larger;
    cursor: pointer;
    border-radius: 5vh;
    font-family: 'Spline Sans Mono', monospace;
}
#someButton:hover{
    transform: scale(110%);  
    opacity: 0.5;
}
